/* geral -----------------*/
html{
   scroll-behavior: smooth;
}
body{
   font-family: apex_newbook;
   font-size: 13pt;
}
a, a:hover, a:active, a:focus{
   color: unset;
   text-decoration: none;
}

/* fundos -----------------*/
.bg-azul{
   background-color: #427AA9;
}
.bg-verde-escuro{
   background-color: #048737;
}
.bg-verde-claro{
   background-color: #AFCB07;
}

/* textos -----------------*/
.txt-azul{
   color: #427AA9 !important;
}
.txt-verde-escuro{
   color: #048737 !important;
}
.txt-verde-claro{
   color: #AFCB07;
}

/* fontes -----------------*/
@font-face {
   font-family: 'apex_newbook';
   src: url('../fonts/apexnew-book-opentype-webfont.woff2') format('woff2'),
        url('../fonts/apexnew-book-opentype-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'apex_newbold';
   src: url('apexnew-bold-opentype_1-webfont.woff2') format('woff2'),
        url('apexnew-bold-opentype_1-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;

}

/* menu -----------------*/
#menu{
   font-family: apex_newbook;
}
#menu .py-2{
   cursor: pointer;
}


/* slides -----------------*/
#slides .row>* {
   padding-right: 0px !important;
   padding-left: 0px !important;
}


/* pqvacinar -----------------*/
#pqvacinar h1{
   font-family: apex_newbook;
   color: #fff;
   text-align: right;
   font-size: 58pt;
}
#pqvacinar p{
   line-height: 1.5;
}

@media (max-width: 768px) {
   #pqvacinar h1{ 
      text-align: center;
      font-size: 40pt;
   }   
   #pqvacinar p{
      text-align: center;
   }
}


/* qdovacinar -----------------*/
#qdovacinar h1{
   font-family: apex_newbook;
   font-size: 53pt;
}
#qdovacinar span{
   font-size: 30pt;   
   margin-right: 15px;
}
.line{
   line-height: 1;
}


@media (max-width: 768px) {
   #qdovacinar h1{ 
      text-align: center !important;
      font-size: 40pt;
   }   
   #qdovacinar p{
      text-align: center;
      line-height: 1.4;
   }
   
   #qdovacinar-2 p{
      line-height: 1.4;
   }
   #qdovacinar h2, span{ 
      text-align: center !important;
      font-size: 25px !important;
   }   
}

/* ondevacinar ---------------*/

#ondevacinar h1{
   font-size: 60pt;
   color: #fff;
}

@media (max-width: 768px) {
   #ondevacinar h1{ 
      text-align: center !important;
      font-size: 38pt !important;
   }   
   #ondevacinar-mobile h1{ 
      text-align: center !important;
      font-size: 38pt !important;
   }   
   #ondevacinar p{
      line-height: 1.4;      
   }
   #ondevacinar ul{
      font-size: 12pt;
   }
   #ondevacinar h2, span{ 
      text-align: center !important;
   }   
   #accordionFlushExample small{ 
      font-size: 12px !important;
   }   
}


/* voltar ao topo -----------*/
#back-to-top {
   position: fixed;
   bottom: 30px;
   right: 30px;
 }